.fungi-item {
  width: 18vw;
  table {
    width: 100%;
  }
  margin-bottom: 5vh;
}

.fungi-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
